# Compiled python files
*.pyc

#pyCharm settings
.idea/*

#setup
build/*
*egg-info*

#tmp files
*.py~
tmp/ranges_*
tmp/subs_temp_*
tmp/thread_*
tmp/ports_*
results*.*
results/*.html
user.txt
pass.txt
logs.txt

#scada
lib/scan/scada/*