# Compiled python files
*.pyc

#ignore IDE settings
*.idea*

#setup
build/*
dist/*
*egg-info*

#tmp files
*.py~
user.txt
pass.txt
logs.txt
*.log
results.*
.owasp-nettacker*
*.DS_Store
*.swp

#private data files
.data/bitnami/redis*
.data/db/nodes*
.data/results/*
.data/tmp/*

#codacy
.coverage
coverage.xml

venv/*