argparse==1.4.0
netaddr==0.8.0
ipaddr==2.2.0
requests==2.28.1
aiohttp==3.8.3
asyncio==3.4.3
paramiko==2.11.0
texttable==1.6.4
PySocks==1.7.1 # library_name=socks # module name is not equal to socks name; this is required to be checked on startup
pyOpenSSL==22.1.0 # library_name=OpenSSL
flask==2.2.2
SQLAlchemy>=1.3.0 # library_name=sqlalchemy
py3DNS==3.2.1 # library_name=DNS
numpy==1.23.5
terminable_thread==0.7.1
PyYAML==6.0 # library_name=yaml