argparse==1.4.0
netaddr==0.9.0
ipaddr==2.2.0
requests==2.31.0
aiohttp==3.9.5
asyncio==3.4.3
paramiko==3.4.0
texttable==1.6.7
PySocks==1.7.1 # library_name=socks # module name is not equal to socks name; this is required to be checked on startup
pyOpenSSL==23.2.0 # library_name=OpenSSL
flask==3.0.1
SQLAlchemy>=1.4.43 # library_name=sqlalchemy
py3DNS==4.0.0 # library_name=DNS
numpy==1.26.3
terminable_thread==0.7.1
PyYAML==6.0.1 # library_name=yaml